p{
  font-size: 50px;
  font-weight: 700;
}
p{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color:;
}
h1{
  font-size: 39px;
  text-align: center;
  color:;
  background-color:#50a359;
  
}

body{
  background-color:#cce8cf;
}